services:
    app:
        build: .
        container_name: webtech-app
        ports:
            - "8000:80"
        env_file:
            - .env
        depends_on:
            - webtech-database
        volumes:
            - .:/var/www
        command: >
            sh -c "php artisan key:generate --force && php artisan migrate --force && service nginx start && php-fpm"

    webtech-database:
        image: postgres:16
        container_name: webtech-postgres
        environment:
            POSTGRES_DB: webtech
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: secret
        volumes:
            - webtech-database:/var/lib/postgresql/data

    vite:
        image: node:20
        container_name: webtech-vite
        working_dir: /var/www
        volumes:
            - .:/var/www
        ports:
            - "5173:5173"
        command: sh -c "npm install && sleep infinity"

volumes:
    webtech-database:


