<!-- CSS code -->

header {
  background-color:DodgerBlue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  height: 40px;
  background: #ccc;
  padding: 20px;
  text-align: center;
}

nav a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}
nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
section {
  background-color: #ffffff;
  height: auto;
  text-align: center;
}

footer {
  background-color: DodgerBlue;
  padding: 20px;
  text-align: center;
  color: white;
}
<!-- Submit-Button -->
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.submitButton {
  margin-top: 50px;
}

.button1 {background-color: #04AA6D;} /* Green */



.tracks {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
}

.deleteButton {
  margin: 20px;
}

